# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
*.log
local_settings.py

# virtual environment
venv/
env/
ENV/

# VSCode
.vscode/

# mac
.DS_Store

# migrations
**/migrations/
!**/migrations/__init__.py

# static files
staticfiles/
# media
media/
