{% extends 'base.html' %}

{% block content %}

<!-- 검색창 -->
<div style="margin-bottom: 20px; text-align: right;">
    <form action="{% url 'home' %}" method="GET">
        <select name="type">
            <option value="all" {% if search_type == 'all' %}selected{% endif %}>전체</option>
            <option value="title" {% if search_type == 'title' %}selected{% endif %}>제목</option>
            <option value="content" {% if search_type == 'content' %}selected{% endif %}>내용</option>
        </select>
        
        <input type="text" name="search" value="{{ search_query|default:'' }}" placeholder="검색어를 입력하세요">
        <button type="submit">검색</button>
    </form>
</div>

<h2>글 목록</h2>

<hr>

{% for post in posts %}
    <div>
        <a href="{% url 'detail' post.pk %}">{{ post.title }}</a><br>
        <small>작성자: {{ post.author.username }}</small><br>
        <small>작성일: {{ post.created_at }}</small>
    </div>
    <hr>
{% endfor %}

{% endblock %}